div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px; 
  box-shadow: 5px 5px 3px black;
  margin: 2rem;
  font-size: 1.5rem;
  color: lightgreen;
}
p {
  font-weight: bold;
}

img {
  height: 20rem;
  margin: 1rem;
}

a {
  color: lightgreen; 
}

a:hover {
  color: blueviolet;
}