section {
  margin-left: 10px;
}

img {
  padding-left: 95px;
}

.mainHeader {
  margin-bottom: 2rem;
}

#menu {
  position: fixed;
  top: 30%;
  right: 0%;
  z-index: 3;
  margin-right: 10px;
}


.speech-bubble {
  position: relative;
  background: #00aabb;
  border-radius: 0.4em;
  color: white;
}

p.speech-bubble{
  text-align: center;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}